.pokemonName, .pokemonExperience {
  text-transform: capitalize;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}

.pokemonPicture{
  height: 96px;
  width: 96px;
}

.panel {
  color: #111;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  min-height: 50px;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0.1px black;
  background-color: whitesmoke
}

.tab {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  border: solid 2px transparent;
}

.selectedTab {
  @extend.tab;
  border: solid 2px;
}