.switch {
  cursor: pointer;
  width: 50px;
  height: 20px;
  display: flex;
  background-color: lightgray;
  border-radius: 20px;
  .slider {
    transition: all 500ms ease;
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #111;
    box-shadow: 0 1px 2px 0.1px #eee;
  }
}

.activeSwitch {
  @extend .switch;
  justify-content: flex-end;
  .slider {
    background-color: white;
    box-shadow: 0 1px 2px 0.1px #111;
  }
}

